.teachers__favorites {
  &-inner {
    position: relative;
    padding-bottom: 35px;

    @include use-container(10px);
    @include horizontal-line();
    
    @include use-media-query(768px) {
  
      @include use-container(100px);
    }
  }

  header {
    padding: 15px 0;
    
    @include use-media-query(768px) {
      padding: 35px 0;
    }
  }

  &-slider {
    position: relative;
    
    &__wrapper {
      display: flex;
      justify-content: flex-start;

      overflow-x: scroll;

      @include use-media-query(768px) {
        justify-content: space-between;
        overflow-x: auto;
      }
    } 

    &__slide {
      width: 50%;
      min-width: 50%;

      padding: 0 5px;

      @include use-media-query(768px) {
        width: auto;
        min-width: auto;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__navigation {
      display: none;

      @include use-media-query(768px) {
        position: absolute;
        width: 100%;
        top: 45%;

        display: block;
      }
    }

    &__next {
      right: -80px;

      button {
        display: block;
        appearance: none;
        background-color: transparent;
        border: 0;
      }

      svg {
        width: 64px;
        height: 64px;

        color: $gray;

        transition: color 0.3s ease;
      }

      &:hover svg {
        color: black;
      }
    }

    &__previous {
      left: -80px;

      button {
        display: block;
        appearance: none;
        background-color: transparent;
        border: 0;
      }

      svg {
        width: 64px;
        height: 64px;

        color: $gray;

        transition: color 0.3s ease;
      }

      &:hover svg {
        color: black;
      }
    }
  }
}