.teachers__statistics {

  &-inner {
    position: relative;
    padding-bottom: 35px;

    @include use-container(10px);
    @include horizontal-line();
    
    @include use-media-query(768px) {
      
      @include use-container(100px);
    }

  }

  header {
    padding: 15px 0;

    @include use-media-query(768px) {
      padding: 35px 0;
    }
  }

  &-table {
    padding-bottom: 35px;
    overflow-x: scroll;

    @include use-media-query(768px) {
      overflow-x: auto;
    }
  }

  &-body {
    table {
      width: 100%;

      thead {
        border-bottom: 1px solid black;
        
        th:first-child > div {
          padding-left: 10px;
          text-align: left;
         
          justify-content: flex-start;

          @include use-media-query(768px) {
            padding-left: 25px;
            text-align: center;
          }
        }

        th {
          cursor: pointer;

          font-family: 'PT Sans';
          font-size: 18px;

          @include use-media-query(768px) {
            font-size: 24px;
          }

          > div {
            padding: 5px 0;
            position: relative;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            border-bottom: 4px solid transparent;
            transition: border-color 0.3s ease, background-color 0.3s ease;

            @include use-media-query(768px) {
              padding: 10px 0;
            }

            svg {
              width: 22px;
              height: 22px;

              padding-left: 0.25rem;

              opacity: 0;
              color: $light-blue;

              transition: opacity 0.3s ease;
            }
          }

          &:hover {
            
            > div {
              border-color: black; 
              background-color: rgba($light-gray, 0.1);

              svg {
                opacity: 1;
              }
            }
          }
        }
      }

      tbody {
        
        tr {

          &:nth-child(even) {
            background-color: rgba($light-gray, 0.1);
          } 
          
          td:first-child {
            text-align: left;
            padding-left: 15px;
          }

          td {
            padding: 10px 0;
            font-family: 'PT Sans';
            font-size: 14px;

            @include use-media-query(768px) {
              font-size: inherit;
            }
          }
        }
      }
    }
  }

  &-table__navigation {
    padding-left: 15px;

    &-inner {
      display: flex;
      column-gap: 20px;
    }

    button {
      appearance: none;
      background-color: transparent;
      border: 0;

      display: block;
      padding: 0;

      font-size: 18px;
      color: $light-gray;

      &.teachers__statistics-table__navigation-item--active,
      &.teachers__statistics-table__navigation-item-info {
        color: black;
      }
    }
  }
}