@mixin horizontal-line {
  &::before {
    display: block;
    content: '';
    margin: 0 auto;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    
    width: 40%;
    height: 1px;
    background-color: black;
  }
}