.add-teacher__popup {
  display: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  margin-left: auto;
  margin-right: auto;
  
  z-index: 120;
  
  width: 100%;
  height: 100%;
  
  @include use-media-query(768px) {
    top: 10%;
    width: 450px;
  }

  &--active {
    display: block;
  }
  
  &-inner {
    background-color: white;
    
    overflow-y: auto;
    
    height: 100%;
    
    @include use-media-query(768px) {
      height: auto;
      border-radius: 5px;
    }
  }

  &-header {
    background-color: $dark-gray;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
  
      padding: 10px 15px;

      h3 {
        font-size: 20px;
        font-family: 'PT Sans';
      }
    }
  }

  &-radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 10px;

    &__buttons {
      display: flex;

      column-gap: 10px;
    }
    
    label {
      flex-direction: row;

      color: $gray;

      span {
        padding-bottom: 0;
      }

      input[type="radio"] {
        display: block;
        
        width: auto;
      }
    }
  }

  .form-group > .form-row > &-dob {
    padding-right: 10px;
  }

  .form-group > .form-row > &-bg-color {
    padding-right: 10px;

    label {
      flex-direction: row;
      align-items: center;

      span {
        flex-grow: 1;
        white-space: nowrap;

        padding-right: 10px;
      }

      input[type="color"] {
        padding-right: 10px;
      }
    }
  }

  &-close-button {
    width: 18px;
    height: 18px;

    position: relative;
    
    cursor: pointer;

    span {
      position: absolute;

      display: block;
      content: '';
      
      width: 100%;
      height: 3px;

      background-color: white;

      &:first-child {
        top: 8px;
        transform: rotate(45deg);
      }

      &:last-child {
        bottom: 7px;
        transform: rotate(-45deg);
      }
    }
  }

  &-form {
    @include use-container(10px);

    @include use-media-query(768px) {
      padding: 20px 0;

      @include use-container(35px);
    }
  }
}