.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: none;

  z-index: 100;

  background-color: rgba(black, 0.4);

  cursor: pointer;
}

.backdrop.backdrop--active {
  display: flex;
  justify-content: center;
  align-items: center;
}