.btn {
  appearance: none;
  display: block;

  font-size: 16px;
  font-family: "PT Sans";
  font-weight: bold;

  padding: 15px 20px;
  border: 1px solid $brand-main-color; 

  color: $brand-main-color;
  background-color: transparent;
  
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $brand-main-color;
    color: white;
  }

  &-lg {
    font-size: 18px;
  }
}