body {
  background-color: #f2f2f2;
}

body.pagescroll--paralyzed {
  overflow: hidden;
}

.container {
  background-color: white;
  box-shadow: 0 0 15px 1px rgba(black, 0.3);
  
  @include use-media-query(768px) {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
  }
}

main {
  padding-top: 4.5rem;

  @include use-media-query(768px) {
    padding: 0;
  }
}