$brand-main-color: rgb(247, 92, 73);
$brand-secondary-color: rgb(34, 34, 34);

$hover-brand-main-color: rgb(204, 72, 54);

$dark-gray: rgb(70, 69, 71);
$gray: rgb(118, 118, 118);
$light-gray: rgb(153, 153, 153);

$light-blue: rgb(101, 169, 203);